*.1
*.I[12]
*.[EIOX]
*.gmo
*.o
*/.deps
*~
.kludge-stamp
ABOUT-NLS
INSTALL
Makefile
Makefile.in
THANKS-to-translators
aclocal.m4
autom4te.cache
config.cache
config.h
config.hin
config.log
config.status
configure
coreutils-*.tar.bz2
coreutils-*.tar.bz2.sig
coreutils-*.tar.gz
coreutils-*.tar.gz.sig
coreutils-*.xdelta
coreutils-*.xdelta.sig
stamp-h1
tests/cut/cut-tests
tests/head/head-tests
tests/join/join-tests
tests/pr/pr-tests
tests/sort/sort-tests
tests/tac/tac-tests
tests/tail/tail-tests
tests/test/test-tests
tests/tr/tr-tests
tests/uniq/uniq-tests
tests/wc/wc-tests
